#!/usr/bin/env bash

#Copyright (C) 2011 - 2022 Riccardo Petraglia
#
# Permissio# n is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
# of the Software, and to permit persons to whom the Software is furnished to do
# so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

#======================#
#                      #
#   SHARED FUNCTIONS   #
#                      #
#======================#
# This function are used all around. Edit with care!

#--------------#
#    Path      #
#--------------#

function add_to_path() {
  if [[ -e $1 ]] && [[ -d $1 ]]; then
    export PATH=$1:$PATH
  fi
}

function remove_from_path() {
  NEW_PATH=${PATH##$1}
  if [[ ${NEW_PATH:0:1} == ":" ]]; then
    NEW_PATH=${NEW_PATH##":"}
  fi
  if [[ ${NEW_PATH:${#NEW_PATH}-1} == ":" ]]; then
    NEW_PATH=${NEW_PATH%%":"}
  fi
  export PATH=$NEW_PATH
}

function add_to_manpath() {
  if [[ -e $1 ]] && [[ -d $1 ]]; then
    export MANPATH=$1:$MANPATH
  fi
}

function remove_from_manpath() {
  NEW_PATH=${MANPATH##$1}
  if [[ ${NEW_PATH:0:1} == ":" ]]; then
    NEW_PATH=${NEW_PATH##":"}
  fi
  if [[ ${NEW_PATH:${#NEW_PATH}-1} == ":" ]]; then
    NEW_PATH=${NEW_PATH%%":"}
  fi
  export MANPATH=$NEW_PATH
}

#------------------#
#   Installation   #
#------------------#
function merge_files() {
  FINAL_NAME="$1"
  shift
  count=0
  for file in "$@"; do
    [[ -f "$file" ]] && mo "$HOSTRESOURCES/ssh.config" > "/tmp/merge_file_0${count}"
    let count++
  done
  cat /tmp/merge_file_0* > "$FINAL_NAME"
}


#-----------------#
#   Miscellanea   #
#-----------------#

# Get info to be used in the prompt
function virtualenv_info(){
    # Get Virtual Env
    if [[ -n "$VIRTUAL_ENV" ]]; then
        # Strip out the path and just leave the env name
        venv="${VIRTUAL_ENV##*/}"
    else
        # In case you don't have one activated
        venv=''
    fi
    [[ -n "$venv" ]] && echo "☣ $(tput setaf 222)${venv}$(tput sgr0)"
#    [[ -n "$venv" ]] && echo '☣'
}

