
#--------------------#
# Personal Variables #
#--------------------#


#--------------#
#    Path      #
#--------------#

case $1 in
    'icmbpriv20')
	export PATH=${PATH}:~/Store/bin:/opt/bin
	;;
    'cosmopc14')
      # Color used in PS1
      export     good="$(tput setaf 80 )"
      export      bad="$(tput setaf 196)"
      export    white="\[$(tput setaf 255)\]"
      export   struct="\[$(tput setaf 27 )\]"
      export     time="\[$(tput setaf 247)\]"
      export username="\[$(tput setaf 42 )\]"
      export currentw="\[$(tput setaf 204)\]"
      export compnamc="\[$(tput setaf  15)\]"
      export       at="\[$(tput setaf 220)\]"
      export historyn="\[$(tput setaf 220)\]"
	;;
    *)
	;;
esac

export reset="\[$(tput sgr0)\]"
export green_=$(tput setaf 120)
export   red_=$(tput setaf 160)

#------------#
#   Prompt   #
#------------#

export reset_=$(tput sgr0)
function exitstatus() {
  if [[ $? == 0 ]]; then
    echo -e "${good}:)${reset_}"
  else
    echo "${bad}:(${reset_}"
  fi
}

function git_string(){
  local     ERR=0
  local    commit=$(tput setaf 160)
  local  clean=$(tput setaf 120)
  local push=$(tput setaf 184)
  local pull=$(tput setaf 166)
  local default_=$(tput setaf 249)
  which git &> /dev/null || ERR=1
  branch=$(git branch 2>/dev/null | grep '*' | tr -d '* '); let ERR+=$?
  status=$(git status 2>/dev/null); let ERR+=$?
  
  if [[ $ERR -gt 0 ]]; then
    echo "$compname"
    return
  fi
  if [[ ! $status =~ "working directory clean" ]]; then
    echo ${commit}$branch${reset_}
    return
  elif [[ $status =~ "have diverged" ]]; then
    echo ${pull}$branch${reset_}
  elif [[ $status =~ "Your branch is ahead of" ]]; then
    echo ${push}$branch${reset_}
    return
  elif [[ $status =~ "nothing to commit" ]]; then
    echo ${clean}$branch${reset_}
    return
  else
    status=${default_}$branch${reset_}
    return
  fi
}

#export PS1="${struct}┌─[${time}\A${struct}]─[${currentw}\w${struct}]\n${struct}└─[\[\$(exitstatus)\]${struct}]─[${username}\u${at}@${compnamc}\$(git_string)${struct} >${reset} "
export PS1="${struct}┌─[${time}\A${struct}]─[${currentw}\w${struct}]\n${struct}└─[\[\$(exitstatus)\]${struct}]─[${username}\u${at}@${compnamc}\[\$(git_string)\]${struct} >${reset} "

export PS2="${struct}└─>${reset}"


#--------------#
#   Editor     #
#--------------#
  export EDITOR=/usr/bin/nano


#------------#
#   Colors   #
#------------#
# Since the colors shown depend on many things,
# just run bash_color_map to get all the colors you may
# want to see.

function color(){
  for c; do
    printf ' \e[48;5;%dm%03d ' $c $c
  done
  printf '\e[0m \n'
}

function bash_color_map() {
  # IFS=$' \t\n'
  # color {0..15}
  # for ((i=0;i<6;i++)); do
  #   color $(seq $((i*36+16)) $((i*36+51)))
  # done
  # color {232..255}

  for C in {0..255}; do
    tput setab $C
    echo -n "$C "
  done
  tput sgr0
  for C in {0..255}; do
    tput setaf $C
    echo -n "$C "
  done
  tput sgr0
  echo

}
