[submodule "emacs.d/elisp/rainbow-delimiters"]
	path = emacs.d/elisp/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "emacs.d/elisp/diff-hl"]
	path = emacs.d/elisp/diff-hl
	url = git@github.com:dgutov/diff-hl.git
