[submodule "emacs.d/elisp/org-bullets"]
	path = emacs.d/elisp/org-bullets
	url = git@github.com:sabof/org-bullets.git
    ignore=dirty

[submodule "emacs.d/themes/emacs-color-theme-solarized"]
	path = emacs.d/themes/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
    ignore=dirty
[submodule "emacs.d/plugins/org-mode"]
	path = emacs.d/plugins/org-mode
	url = git://orgmode.org/org-mode.git
    ignore=dirty
[submodule "emacs.d/themes/emacs-material-theme"]
	path = emacs.d/themes/emacs-material-theme
	url = git@github.com:cpaulik/emacs-material-theme.git
[submodule "emacs.d/themes/zenburn-emacs"]
	path = emacs.d/themes/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "emacs.d/themes/hc-zenburn-emacs"]
	path = emacs.d/themes/hc-zenburn-emacs
	url = git@github.com:edran/hc-zenburn-emacs.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git@github.com:passcod/tmux-powerline.git
[submodule "software/rtags"]
	path = software/rtags
	url = https://github.com/Andersbakken/rtags.git
