#############################################################################
## Personal GitHub key

Host github.com
  IdentityFile ~/.ssh/github_rsa
Host gist.github.com
  IdentityFile ~/.ssh/github_rsa

#############################################################################
## CaaS

Host omg-dev
  Hostname omg-development.charon-123.appcloud.swisscom.com
  User ubuntu

Host omg-int
  Hostname omg-integration.charon-123.appcloud.swisscom.com
  User ubuntu

Host omg-ikube
  Hostname omg-ikube.charon-123.appcloud.swisscom.com
  User ubuntu

Host omg-poc
  Hostname omg-swisscom-poc.charon-123.appcloud.swisscom.com
  User ubuntu

Host omg-prd
  Hostname omg.charon-123.appcloud.swisscom.com
  User ubuntu

# AppCloud
Host hades
  Hostname workspace-z1.hades-127.appcloud.swisscom.com
  User scis-taaperi7

Host scs-prd
  Hostname workspace-z1.scapp-console.swisscom.com
  User scis-taaperi7

Host ece-prd
  Hostname workspace-z1.elasticsearch-broker.cs.swisscom.com
  User scis-taaperi7



# Host scs-prd-t # You can use any name
#   HostName  workspace-z1.scapp-console.swisscom.com 
#   User scis-taaperi7 
#   ForwardAgent yes

### SCS Tunnels
Host t-scs-prd-socks5
  Hostname workspace-z1.scapp-console.swisscom.com 
  User scis-taaperi7
  DynamicForward 0.0.0.0:5007

### OMG Tunnels
Host t-omg-dev-http
  Hostname omg-development.charon-123.appcloud.swisscom.com
  User ubuntu
  LocalForward 0.0.0.0:13128 100.104.66.36:3128

Host t-omg-int-http
  Hostname omg-integration.charon-123.appcloud.swisscom.com
  User ubuntu
  LocalForward 0.0.0.0:13129 100.104.65.4:3128

Host t-omg-ikube-http
  Hostname omg-ikube.charon-123.appcloud.swisscom.com
  User ubuntu
  LocalForward 0.0.0.0:13130 138.188.250.195:3128

Host t-omg-poc-http  # Not autosshed
  Hostname omg-swisscom-poc.charon-123.appcloud.swisscom.com
  User ubuntu
  LocalForward 0.0.0.0:13131 100.104.65.4:3128

Host t-omg-prd-http
  Hostname omg.charon-123.appcloud.swisscom.com
  User ubuntu
  LocalForward 0.0.0.0:13132 100.104.252.4:3128

Host t-omg-prd-socks5
  Hostname omg.charon-123.appcloud.swisscom.com
  User ubuntu
  DynamicForward 0.0.0.0:5008


Host *
  TCPKeepAlive no
  ConnectTimeout 5
  ServerAliveCountMax 10
  ServerAliveInterval 15
  IdentityFile ~/.ssh/swco-id_rsa
